/*Especifidad: 0*/
body {
  font-family: Bookman, URW Bookman L, serif;
  font-size: medium;
  color: #ffffff;
  background-color: #007558;
  text-align: center;
  }
/*Especifidad: 0*/
h1 {
  color: #fff;    
  background-color:#000000; 
  text-transform: uppercase;
  padding: 1em; 
  text-align: center;     
  }
/*Especifidad: 0*/
  h2 {
  color: #fff;
  font-variant: small-caps;
  text-align: center;
  background-color:#000000;
}
/*Especifidad: 0*/
main{
  margin-top: 2%;
  position: absolute;
  padding-right: 20%;
}
/*Especifidad: 0*/
nav{
  padding:1px; 
  color: #000;
  font-variant: small-caps;
  text-align: center;
  background-color:#fff;
}
/*Especifidad: 0*/
aside {
  margin-top: 3%;
  width: 18%;
  padding-left: 80%;
  float: right;
  text-align: left;
}
/*Especifidad: 0*/
section{
  padding-bottom: 5%;
}
/*Especifidad: 0*/
img{
  padding-top: 3%;
  display: block;
  margin: auto;
  width: 40%;
}
/*Especifidad: 0*/
video {
  padding-top: 3%;
  display: block;
  margin: auto;
  width: 40%;
  padding-bottom: 5%;
}
/*Especifidad: 0*/
audio{
  padding-top: 3%;
  display: block;
  margin: auto;
  padding-bottom: 5%;
}
/*Especifidad: 0*/
footer{
  position: fixed;
  bottom: 0; 
}

/*media specifications*/
@media (max-width: 600px){
  main{
    position: relative;
    padding-right: unset;
  }
  aside {
    position: relative;
    width: unset;
    padding-left: 0%;
    float: none;
  }
  img{
    width: 90%;
  }
  video {
    width: 90%;
  }
  audio{
    width: 90%;
  }
}